<h2>Edit Book</h2>

<form action="/books/edit/{{book._id}}?_method=PUT" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title *</label>
    <input type="text" name="title" id="title" class="form-control" value="{{book.title}}" required />
  </div>

  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" name="author" id="author" class="form-control" value="{{book.author}}" />
  </div>

  <div class="mb-3">
    <label for="totalCopies" class="form-label">Total Copies *</label>
    <input type="number" name="totalCopies" id="totalCopies" class="form-control" min="1" value="{{book.totalCopies}}" required />
  </div>

  <button type="submit" class="btn btn-success">Update Book</button>
  <a href="/books" class="btn btn-secondary">Cancel</a>
</form>
